<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recherche - Repertoire Téléphonique</title>
    {% assets "tailwindcss" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>

  <body>
    <div class="flex flex-col">
      <div class="md:block m-2">
        <a
          href="{{ url_for('index') }}"
          class="font-medium text-indigo-600 hover:text-indigo-500"
          >Retour au menu principal</a
        >
        <h1
          class="text-center text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl py-8 block"
        >
          Recherche
        </h1>
      </div>
    </div>
    <div class="grid h-96 place-content-center">
      <form action="/recherche" method="POST" role="search">
        <label for="price" class="block text-sm font-medium text-gray-700"
          >Rechercher</label
        >
        <div class="mt-1 relative rounded-md shadow-sm">
          <input
            type="search"
            name="search"
            id="search"
            class="focus:ring-indigo-500 focus:border-indigo-500 sm:w-96 w-80 block sm:text-sm border-gray-300 rounded-md"
            placeholder="Trouvez la personne de vos rêves!!"
            autofocus
            required
          />
        </div>
        <button
          type="submit"
          class="w-full flex items-center justify-center px-8 py-1 mt-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"
        >
          Lancer la recherche
        </button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/recherche.js') }}"></script>
  </body>
</html>
